---
layout: default
title: Home
permalink: /
---

{% comment %}
<div class="page" style="margin-bottom: 2em; margin-right: 1em;">
  <img src="{{ site.baseurl }}/public/Professional_Headshot.JPG" alt="Professional Headshot" class="user-img">
</div>

<p class="message" style="margin-bottom: 2em;">
  Welcome! I'm Joshua Zhong, a Statistician with experience in Data Analysis. I specialize in AI development and Machine Learning processes using R and Python. I hope you take the time to explore some of the work I've done here!
</p>
{% endcomment %}

<div class="page" style="display: flex; align-items: center; margin-bottom: 2em;">
  <img src="{{ site.baseurl }}/public/Professional_Headshot.JPG" alt="Professional Headshot" class="user-img" style="margin-right: 20px;">
  
  <p class="message" style="margin-bottom: 0; flex: 1;">
    Welcome! I'm Joshua Zhong, a Statistician with experience in Data Analysis. I specialize in AI development and Machine Learning processes using R and Python. I hope you take the time to explore some of the work I've done here!
  </p>
</div>




<br>

<h1 class="post-title" style="font-size: 2.25rem; margin-top: 1em; margin-bottom: 0.5em;">
    Featured Projects
</h1>




<div class="posts">

  {% for post in paginator.posts %}
    {% if post.categories contains 'home-page' %}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ site.baseurl }}/{{post.title}}" target="_blank">
          {{ post.title }}
        </a>
      </h1>

      <span class="post-date">{{ post.date | date_to_string }}</span>

      {{ post.content }}
    </div>
    {% endif %}
  {% endfor %}
</div>

<h1 class="post-title" style="font-size: 2.25rem; margin-top: 1em; margin-bottom: 1em;">
  Leave your contact info!
</h1>


<form action="https://api.web3forms.com/submit" method="POST">

  <!-- Replace with your Access Key -->
  <input type="hidden" name="access_key" value="c1313a96-30c8-432e-9468-1fe4f83d0e7b">

  <!-- Form Inputs. Each input must have a name="" attribute -->
  <input type="text" name="name" placeholder="Name (required)" required>
  <input type="email" name="email" placeholder="Email (required)" required>
  <textarea name="message" placeholder="Anything else you'd like me to know (optional)"></textarea>

  <!-- Honeypot Spam Protection -->
  <input type="checkbox" name="botcheck" class="hidden" style="display: none;">

  <!-- Custom Confirmation / Success Page -->
  <input type="hidden" name="redirect" value="https://jzhong01.github.io/my-portfolio/success">

  <button type="submit">Submit Form</button>

  

</form>







