body.resume-page {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;  /* Light gray or any color of your choice */
    width: 100%;
    margin: 0;
    padding: 0;
}


body.resume-page .resume-header {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}


/* Override the content width restriction from hyde.css */

/*.content { */
    /* max-width: 100%; /* Remove the width restriction */
    /* margin-left: 380px; /* Adjust according to the width of your sidebar */
    /* margin-right: 20px; /* Give some padding on the right side */
    /* padding-top: 2rem; /* Optional: Adjust vertical padding */
    /* padding-bottom: 2rem;
}
*/


